<% if (authenticated) { %> <%- include("templates/header", { logout: true }) %>
<% } else { %> <%- include("templates/header", { logout: false }) %> <% } %>

<div class="d-flex justify-content-center align-items-center">
  <div
    class="cyber-tile bg-red p-2 h-100 d-flex flex-column justify-content-between"
  >
    <h4 class="cyber-h"><%= thread.title %></h4>
    <p><%= thread.content.owner_user.email %></p>
    <p><%= thread.content.content_description %></p>
    <div class="d-flex">
      <div class="mr-3">
        <p>Views: <%= thread.content.views %></p>
      </div>
      <div>
        <p>Likes: <%= thread.content._count.like %></p>
      </div>
    </div>
    <form action="/comments" method="POST">
      <input type="hidden" name="thread_id" value=<%= thread.id %> />
      <input type="hidden" name="content_parent_id" value=<%= thread.content_id %> />
      <div class="cyber-input">
        <input
          name="content_description"
          required=true,
          type="textarea"
          placeholder="Comment" />
      </div>
      <button>Submit</button>
    </form>
    <% for (let i = 0; i < thread.content.child_contents.length; i++) { %>
      <div class="cyber-tile"> 
        <div> 
          <%= thread.content.child_contents[i].owner_user.email %>
        </div> 
        <div>
          <% if (thread.content.child_contents[i].owner_user.id === user.id) { %>
            <label for="content_description"></label>
            <textarea id="comment-<%= thread.content.child_contents[i].id %>" name="content_description" required=true><%= thread.content.child_contents[i].content_description %></textarea>
          <% } else { %>
            <%= thread.content.child_contents[i].content_description %>
          <% } %>
        </div>
        <div>
          <i id="reply-count-<%= thread.content.child_contents[i].id %>"><%= thread.content.child_contents[i].child_contents.length %> replies to this comment</i>
          <div style="margin-left: 20px;" id="reply-list-<%= thread.content.child_contents[i].id %>"></div>
          <p style="cursor: pointer;" class="show-replies" id=<%= thread.content.child_contents[i].id %>>show</p>
        </div>
          <% if (authenticated) { %> 
          <form action="/comments" method="POST" style="display:none;" class="reply-comment-form" id=<%= thread.content.child_contents[i].id %>>
            <input type="hidden" name="thread_id" value=<%= thread.id %> />
            <input type="hidden" name="content_parent_id" value=<%= thread.content.child_contents[i].id %> />
            <div class="cyber-input">
              <input
                name="content_description"
                required=true,
                type="textarea"
                placeholder="Comment" />
            </div>
            <button>Save</button>
          </form>
            <button class="reply-comment" id=<%= thread.content.child_contents[i].id %>>Reply</button>
            <% if (
              thread.content.child_contents[i].owner_user.id === user.id ||
              thread.content.owner_user.id === user.id
            ) { %> 
              <button class="delete-comment" id=<%= thread.content.child_contents[i].id %>>Delete</button>
          <% } %>
          <% if ( 
              thread.content.child_contents[i].owner_user.id === user.id
              ) { %>
                <button class="update-comment" id=<%= thread.content.child_contents[i].id %>>Update</button>
             <% } %>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
<script nonce="<%= nonce %>">
  $(document).ready(() => {
    $(document).on('click', '.delete-comment', async (e) => {
        e.preventDefault();
        const response = await fetch(`/comments/${e.target.id}`, {
          headers: {"content-type": "application/json"},
          method: 'DELETE'
        })
        if (response.status === 204) {
          window.location.reload()
        }
    })

    $(document).on('click', '.update-comment', async (e) => {
      e.preventDefault();
      const response = await fetch(`/comments/${e.target.id}`, {
        headers: {"content-type": "application/json"},
        method: "PATCH",
        body: JSON.stringify({ content_description: $(`#comment-${e.target.id}`).val() })
      })

      if (response.status === 200) {
          window.location.reload()
      }
    })

    $(document).on('click', '.reply-comment', async (e) => {
        e.preventDefault();
        $('.reply-comment-form[id=' + e.target.id + ']').toggle()
        $(e.target).text($(e.target).text() == 'Reply' ? 'Cancel' : 'Reply');
    })

    $(document).on('click', '.show-replies', async (e) => {
        e.preventDefault();
        $('#reply-count-' + e.target.id).toggle()
        $('.show-replies[id=' + e.target.id + ']').text($('.show-replies[id=' + e.target.id + ']').text() == 'show' ? 'hide' : 'show');
        if ($('.show-replies[id=' + e.target.id + ']').text() === 'show') {
          $('#reply-list-' + e.target.id).empty()
          return
        }

        const response = await fetch(`/comments/${e.target.id}`, {
          headers: {"content-type": "application/json"},
          method: 'GET'
        })

        const replies = await response.json()

        for (let i = 0; i < replies.length; i++) {
          $('#reply-list-' + e.target.id).append(
          `<div style="margin-top: 10px;">
            <div>
              ${replies[i].owner_user.email}
            </div>
            <div class="content_description" id=${replies[i].id}>
            </div>
            <div>
              <i id="reply-count-${replies[i].id}">${replies[i].child_contents.length} replies to this comment</i>
              <div style="margin-left: 20px;" id="reply-list-${replies[i].id}"></div>
              <p style="cursor: pointer;" class="show-replies" id=${replies[i].id}>show</p>
            </div>
            <form action="/comments" method="POST" style="display:none;" class="reply-comment-form" id=${replies[i].id} %>>
              <input type="hidden" name="thread_id" value=${<%= thread.id %>} />
              <input type="hidden" name="content_parent_id" value=${replies[i].id} />
              <div class="cyber-input">
                <input
                  name="content_description"
                  required=true,
                  type="textarea"
                  placeholder="Comment" />
              </div>
              <button>Save</button>
            </form>
          </div>`
          )
          if (<%= authenticated %>) {
            $('#reply-list-' + replies[i].id).append(
              `<button class="reply-comment" id=${replies[i].id}>Reply</button>`
            )
            if (replies[i].owner_user.id === <%= user.id %> || <%= thread.content.owner_user.id %> === <%= user.id %>) {
              $('#reply-list-' + replies[i].id).append(
                `<button class="delete-comment" id=${replies[i].id}>Delete</button>`
              )
            }
            if (replies[i].owner_user.id === <%= user.id %>) {
              $('#reply-list-' + replies[i].id).append(
                `<button class="update-comment" id=${replies[i].id}>Update</button>`
              )
            }
          }

          if (replies[i].owner_user.id === <%= user.id %>) {
            $('.content_description[id=' + replies[i].id + ']').append(
              `<label for="content_description"></label>
              <textarea id="comment-${replies[i].id}" name="content_description" required=true>${replies[i].content_description}</textarea>`)
          } else {
            $('.content_description[id=' + replies[i].id + ']').append(`${replies[i].content_description}`)
          }
        }
      })
    })
</script>
<%- include("templates/footer") %>
