<% if (authenticated) { %> <%- include("templates/header", { logout: true }) %>
<% } else { %> <%- include("templates/header", { logout: false }) %> <% } %>

<div class="d-flex justify-content-center align-items-center">
  <div
    class="cyber-tile-big fg-white bg-blue p-2 h-100 d-flex flex-column justify-content-between"
  >
    <h4 class="cyber-h"><%= thread.title %></h4>
    <code><%= thread.content.owner_user.email %> • <span><%- include('date-display', { date: thread.content.created_at }) %></span></code>
    <p><%= thread.content.content_description %></p>
    <div class="d-flex" style="margin-bottom: 10px;">
      <div class="mr-3">
        <p>Views: <%= thread.content.views %></p>
      </div>
      <div class="mr-3">
        <p>Likes: <%= thread.content._count.like %></p>
      </div>
      <%- include('like', { liked: thread.liked, content_id: thread.content_id, thread_id: thread.id  }) %>
    </div>
    <% if (user !== undefined) { %> 
      <i style="font-size: 11px;">Comment as <%= user.email %></i>
    <% } %>
    <%- include('comment-form', {thread_id: thread.id, content_parent_id: thread.content_id }) %>
  <div class="comment">
    <% thread.comments.forEach(function(child) { %>
        <%- include('comment-content', { content: child, thread: thread, user: user }) %>
    <% }); %>
  </div>
</div>
<script nonce="<%= nonce %>">
  $(document).ready(() => {
    $('.delete-like').on('click', async (e) => {
      e.preventDefault();
      console.log(e.target.id)
        const response = await fetch(`/likes/${e.target.id}`, {
          headers: {"content-type": "application/json"},
          method: 'DELETE',

        })

      window.location.reload()
    })

    $(document).on('click', '.delete-comment', async (e) => {
        e.preventDefault();
        const response = await fetch(`/comments/${e.target.id}`, {
          headers: {"content-type": "application/json"},
          method: 'DELETE'
        })
        if (response.status === 204) {
          window.location.reload()
        }
    }) 
    
    $(document).on('click', '.edit-comment', async (e) => {
      e.preventDefault();
      $('.content-description[id=' + e.target.id + ']').toggle();
      $('.content-description-textarea[id=' + e.target.id + ']').toggle();
      $(e.target).text($(e.target).text() == 'edit' ? 'cancel' : 'edit');
      $('.update-comment[id=' + e.target.id + ']').toggle();
    });

    $(document).on('click', '.update-comment', async (e) => {
      const response = await fetch(`/comments/${e.target.id}`, {
        headers: {"content-type": "application/json"},
        method: "PATCH",
        body: JSON.stringify({ content_description: $('.content-description-textarea[id=' + e.target.id + ']').val() })
      })

      if (response.status === 200) {
          window.location.reload()
      }
    });

    $(document).on('click', '.reply-comment', async (e) => {
        e.preventDefault();
        $(e.target).text($(e.target).text() == 'reply' ? 'cancel' : 'reply');
        $('.reply-comment-form[id=' + e.target.id + ']').toggle()
    })
  })
</script>
<%- include("templates/footer") %>
