<% if (authenticated) { %> <%- include("templates/header", { logout: true }) %>
<% } else { %> <%- include("templates/header", { logout: false }) %> <% } %>

<div class="d-flex justify-content-center align-items-center">
  <div
    class="cyber-tile bg-red p-2 h-100 d-flex flex-column justify-content-between"
  >
    <h4 class="cyber-h"><%= thread.title %></h4>
    <p><%= thread.content.owner_user.email %></p>
    <p><%= thread.content.content_description %></p>
    <div class="d-flex">
      <div class="mr-3">
        <p>Views: <%= thread.content.views %></p>
      </div>
      <div>
        <p>Likes: <%= thread.content._count.like %></p>
      </div>
    </div>

    <form action="/comments" method="POST">
      <input type="hidden" name="thread_id" value=<%= thread.id %> />
      <input type="hidden" name="content_parent_id" value=<%= thread.content_id %> />
      <div class="cyber-input">
        <input
          name="content_description"
          required=true,
          type="textarea"
          placeholder="Comment" />
      </div>
      <button class="cyber-button-small">Submit</button>
    </form>
    <% for (let i = 0; i < thread.content.child_contents.length; i++) { %>
      <div class="cyber-tile"> 
        <div> 
          <%= thread.content.child_contents[i].owner_user.email %>
        </div> 
        <div>
        <%= thread.content.child_contents[i].content_description %> 
        </div>
      </div>
    <% } %>
  </div>
</div>
<%- include("templates/footer") %>
