<% if (authenticated) { %> <%- include("templates/header", { logout: true }) %>
<% } else { %> <%- include("templates/header", { logout: false }) %> <% } %>

<div class="d-flex justify-content-center align-items-center">
  <div
    class="cyber-tile bg-red p-2 h-100 d-flex flex-column justify-content-between"
  >
    <h4 class="cyber-h"><%= thread.title %></h4>
    <p><%= thread.content.owner_user.email %></p>
    <p><%= thread.content.content_description %></p>
    <div class="d-flex">
      <div class="mr-3">
        <p>Views: <%= thread.content.views %></p>
      </div>
      <div>
        <p>Likes: <%= thread.content._count.like %></p>
      </div>
    </div>

    <form action="/comments" method="POST">
      <input type="hidden" name="thread_id" value=<%= thread.id %> />
      <input type="hidden" name="content_parent_id" value=<%= thread.content_id %> />
      <div class="cyber-input">
        <input
          name="content_description"
          required=true,
          type="textarea"
          placeholder="Comment" />
      </div>
      <button class="cyber-button-small">Submit</button>
    </form>
    <% for (let i = 0; i < thread.content.child_contents.length; i++) { %>
      <div class="cyber-tile"> 
        <div> 
          <%= thread.content.child_contents[i].owner_user.email %>
        </div> 
        <div>
          <% if (thread.content.child_contents[i].owner_user.id === user.id) { %>
            <label for="content_description"></label>
            <textarea id="comment-<%= thread.content.child_contents[i].id %>" name="content_description" required=true><%= thread.content.child_contents[i].content_description %></textarea>
          <% } else { %>
            <%= thread.content.child_contents[i].content_description %>
          <% } %>
        </div>
          <% if (authenticated) { %> 
            <% if (
              thread.content.child_contents[i].owner_user.id === user.id ||
              thread.content.owner_user.id === user.id
            ) { %> 
              <button class="delete-comment" id=<%= thread.content.child_contents[i].id %>>Delete</button>
          <% } %>
          <% if ( 
              thread.content.child_contents[i].owner_user.id === user.id
              ) { %>
                <button class="update-comment" id=<%= thread.content.child_contents[i].id %>>Update</button>
             <% } %>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
<script nonce="<%= nonce %>">
  $(document).ready(() => {
    $('.delete-comment').on('click', async (e) => {
        e.preventDefault();
        const response = await fetch(`/comments/${e.target.id}`, {
          headers: {"content-type": "application/json"},
          method: 'DELETE'
        })
        if (response.status === 204) {
          window.location.reload()
        }
    })

    $('.update-comment').on('click', async (e) => {
      e.preventDefault();
      const response = await fetch(`/comments/${e.target.id}`, {
        headers: {"content-type": "application/json"},
        method: "PATCH",
        body: JSON.stringify({ content_description: $(`#comment-${e.target.id}`).val() })
      })

      if (response.status === 200) {
          window.location.reload()
      }
    })
  })
</script>
<%- include("templates/footer") %>
