<% if (authenticated) { %> <%- include("templates/header", { logout: true }) %>
<% } else { %> <%- include("templates/header", { logout: false }) %> <% } %>

<div class="d-flex justify-content-center align-items-center">
  <div
    class="cyber-tile bg-red p-2 h-100 d-flex flex-column justify-content-between"
  >
    <h4 class="cyber-h"><%= thread.title %></h4>
    <p><%= thread.content.content_description %></p>
    <div class="d-flex">
      <div class="mr-3">
        <p>Views: <%= thread.content.views %></p>
      </div>
      <div>
        <p>Likes: <%= thread.content._count.like %></p>
      </div>
    </div>
  </div>
</div>
<%- include("templates/footer") %>
